{% extends "base.html" %}

{% block content %}   
{% for recipe in recipes %}
    <ul>
        <li>
            <h2><a href="{% url 'recipe' recipe.id %}">{{ recipe.title }}</a></h2>
            <h3>Ingredients:</h3>
            <ul>
                {% for ingredient in recipe.ingredientsrecipes_set.all %}
                    <li>{{ ingredient.ingredient.name }} : {{ ingredient.amount }} {{ ingredient.ingredient.unit }}</li>
                {% endfor %}
            </ul>
            <p>{{ recipe.method }}</p>
            <p><b>Category:</b> {{ recipe.category }}</p>
    {% endfor %}
    </ul>
{% endblock content %}  
